# Web framework
flask
flask_sqlalchemy
flask_cors
werkzeug

# Database + vector search
#sqlalchemy
psycopg2-binary
pgvector

# Embeddings + ML
sentence-transformers

# LLM inference
llama-cpp-python

# PDF + text utils
pdfminer.six
markdown2

# Environment
python-dotenv

# Production server
gunicorn
              