flask
flask_sqlalchemy
flask_cors
python-dotenv
requests
llama-cpp-python
sentence-transformers
PyPDF2
numpy
scikit-learn
sqlalchemy
psycopg2-binary       
pgvector              
python-dotenv
gunicorn              